

<div class="scroll_products">
  <% @products.each do |product| %>
    <a href="<%= product_path(:id => product.id) %>">
      <div class ="product" id="p<%= product.id %>">
        <img class="product_image" src="<%= product.image %>" alt="<%= product.album_name %>"/>
        <div class="inner_text">
          <h4><%= product.artist %></h4>
          <h5><%= product.album_name %></h5>
          <%= image_tag("readmore.png", :class => "readmore") %>
        </div>
      </div>
      <%= link_to "Order Item","/sessions/new?product_id=#{product.id}"%>
    <% end %>
  </a>
</div>
