<div class="form-style">

<h1>Associated categories</h1>
<ul>
<% @product.categories.each do |thing| %>
  <li><em><%= thing.name %></em>
    <span class="delete-category"><%= link_to "  Remove Category for this Product", "/products/delete_category?category=#{thing.id}&product=#{@product.id}"%></li>
</span>
  <% end %>
</ul>
<%= form_tag "/categories_products/update/" do %>
<%= hidden_field_tag :product_id, params[:id] %> <!-- can use params[:id] -->
<% all_categories = @categories.collect{|object| [object.name, object.id]} %>
<%= select_tag(:category_id, options_for_select(all_categories), multiple: true) %>
<div class = "basic-button">
  <%= submit_tag %>
</div>

<% end %>


</div>
