<%= form_for @rating do |f| %>
  <%= f.hidden_field :product_id, value: params[:id] %>
  Stars: <%= f.number_field :stars %>
  Comments: <%= f.text_field :comments %>
  <%= f.submit %>
<% end %>


<!--<form action="/ratings/create" method="POST">

<h1>New review</h1>

<div>
  <label for="stars">Stars</label>
  <input type="text" name="rating[stars]"%>
  
  <label for="comments">Comments</label>
  <input type="textarea" name="rating[comments]"%>
</div>
  
<input type="submit" value="Create review" class="submit">

</form>-->
