<!-- SHOW ALL MERCHANTS  -->

<div>
  <% @all_merchants.each do |merchant|  %>
    Name: <%= merchant.name %>
    ID: <%= merchant.id %>
    <%= merchant.email %>
    <%= merchant.password %>
    <%= merchant.username %>
  <% end  %>
</div>
