<table> <!-- need a bool for display_in_shop -->
  <tr>
    <th>
    </th>
    <th>Artist</th>
    <th>Album</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Active</th>
    <th>Edit</th>
  </tr>
  <tr>
    <td>

    </td>
    <td>
      <ul>
        <li><%=link_to "Asc", "/dashboard?thing=artist&direction=asc"%></li>
        <li><%=link_to "Desc", "/dashboard?thing=artist&direction=desc"%></li>
      </ul>
    </td>
    <td>
      <ul>
        <li><%= link_to "Asc", "/dashboard?thing=price&direction=asc" %></li>
        <li><%= link_to "Desc", "/dashboard?thing=price&direction=desc" %></li>
        </ul>
    </td>
    <td>
      <ul>
        <li><%= link_to "Asc", "/dashboard?thing=stock&direction=asc" %></li>
        <li><%= link_to "Desc", "/dashboard?thing=stock&direction=desc" %></li>
        </ul>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
   <% @products.each do |product| %>
      <tr>
      <td><img src=<%=product.image%> width="50"/></td>
      <td><%=product.artist%></td>
      <td><%=product.album_name%></td>
      <td><%="#{number_to_currency(product.price/100.0)}"%></td>
      <td><%=product.stock%></td>
      <td><% if product.active %>
            <%= "Yes" %>
          <% else %>
            <%= "No" %>
          <% end %>
      </td>
      <td>
        <ul>
          <li><%=link_to "Edit", edit_product_path(product) %></li>
          <li><%= button_to "Delete", delete_product_path(product), :method=>:delete %></li>
          <li><%=link_to "Categories", add_category_path(product) %></li>
        </ul>

      </td>
      </tr>

    <% end %>
</table>
