<table> <!-- need a bool for display_in_shop -->
  <tr>
    <th>Image</th>
    <th>Artist<ul>
      <li><%=link_to "Asc", "/dashboard?thing=artist&direction=asc"%></li>
      <li><%=link_to "Desc", "/dashboard?thing=artist&direction=desc"%></li>
    </ul></th>
    <th>Album<ul>
      <li><%= link_to "Asc", "/dashboard?thing=album_name&direction=asc" %></li>
      <li><%= link_to "Desc", "/dashboard?thing=album_name&direction=desc" %></li>
    </ul></th>
    <th>Price<ul>
      <li><%= link_to "Asc", "/dashboard?thing=price&direction=asc" %></li>
      <li><%= link_to "Desc", "/dashboard?thing=price&direction=desc" %></li>
      </ul></th>
    <th>Stock<ul>
      <li><%= link_to "Asc", "/dashboard?thing=stock&direction=asc" %></li>
      <li><%= link_to "Desc", "/dashboard?thing=stock&direction=desc" %></li>
      </ul></th>
    <th>Active</th>
    <th>Edit</th>
  </tr>
   <% @products.each do |product| %>
      <tr>
      <td><img src=<%=product.image%> width="50"/></td>
      <td><%=product.artist%></td>
      <td><%=product.album_name%></td>
      <td><%="#{number_to_currency(product.price/100.0)}"%></td>
      <td><%=product.stock%></td>
      <td><% if product.active %>
            <%= "Yes" %>
          <% else %>
            <%= "No" %>
          <% end %>
      </td>
      <td>
        <ul>
          <li><%=link_to "Edit", edit_product_path(product) %></li>
          <li><%= button_to "Delete", delete_product_path(product), :method=>:delete %></li>
        </ul>
      </td>
      </tr>
    <% end %>
</table>
