<h1>Dashboard</h1>

<div class="products">
  <%= link_to "Add new products", new_products_path %>
  <%= render "inventory" %>
</div>

<%= link_to "Add new category", new_categories_path %>

<div class="edit_profile">
  <h2>Merchant Profile</h2>
  <p>
    Shop Name: <%= @merchant_dash.name %>
  </p>
  <p>
    Username: <%= @merchant_dash.username %>
  </p>
  <p>
    Email: <%= @merchant_dash.email %>
  </p>
  <p>

  <%= link_to "Edit your information", edit_merchant_path(@merchant_dash.id) %>

  </p>
</div>
