<div class = "center-text">
<h1><%= @merchant_dash.name.capitalize %>'s Dashboard</h1>
</div>

<div class="edit_profile">
  <h2>Profile:</h2>
  <table>
    <tr>
      <td>
        <ul>
          <li>Your Username: <%= @merchant_dash.username %></li>
          <li>Your Email: <%= @merchant_dash.email %></li>
          <li>---------</li>
          <li>  <%= link_to "Edit your information", edit_merchant_path(@merchant_dash.id) %></li>
        </ul>
      </td>
      <td>
        <li>
          <%= link_to "Display Order Summary Page", orders_path %>
        </li>
        <li>----------</li>
        <li><%= link_to "Add new products", new_products_path %></li>
      </td>
    </tr>
  </table>



</div>


<div class="products_dash">

  <%= render "inventory" %>
</div>
