<!-- SHOW ALL MERCHANTS  -->

<div>
  <% @all_merchants.each do |merchant|  %>

    <b>Merchant Name: <%= merchant.name %><br></b>
    ID: <%= merchant.id %><br>
    Email: <%= merchant.email %><br>
    Password: <%= merchant.password %><br>
    Username: <%= merchant.username %><br>
    <hr>
    <div class="products">
      <% merchant.products.each do |product|%>
        <%= product.album_name %><br>
      <% end %>
    </div>
    <hr>

  <% end  %>
</div>
