<!-- SHOW ALL MERCHANTS  -->

<div>
  <% @all_merchants.each do |merchant|  %>

    <b>Shop Name: <%= merchant.name %><br></b>
    ID: <%= merchant.id %><br>
    Email: <%= merchant.email %><br>
    Password: <%= merchant.password %><br>
    Username: <%= merchant.username %><br>
    <hr>
    <div class="merchants_products">
      <% merchant.products.each do |product|%>
        <div class ="product" id="p<%= product.id %>">
          <a href="<%= product_path(:id => product.id) %>">
          <img class="product_image" src="<%= product.image %>" alt="<%= product.album_name %>"/>
          <h4><%= product.artist %></h4>
          <h5><%= product.album_name %></h5>
          <p><%= number_to_currency(product.price/100.0) %></p>
          </a>
          <%= button_to "Order Item","/carts/add_item?product_id=#{product.id}", method: :post %>
        </div>
      <% end %>
    </div>
    <hr>
  <% end  %>
</div>
