<div class = "center-text">
<h1><%= @merchant_dash.name.capitalize %>'s Orders</h1>
</div>

<div class="edit_profile">
  <ul>
    <li><%= link_to "View All", "/orders" %></li>

    <li><%= link_to "View Pending", "/orders/?status=pending"%></li>

    <li><%= link_to "View Paid", "/orders/?status=paid" %></li>

    <li><%= link_to "View Cancelled", "/orders/?status=cancelled" %></li>

    <li><%= link_to "View Shipped", "/orders/?status=shipped" %></li>
  </ul>
</div>

<div class="products_dash">


<table>
  <tr>
    <th>
      Item ID
    </th>
    <th>
      Quantity<br>Ordered
    </th>
    <th>
      Item Name
    </th>
    <th>
      Item Status
    </th>
    <th>
      Item price
    </th>
    <th>
      Order ID
    </th>
    <th>
      Ship Order
    </th>
  </tr>
  <% @ordered_items.each do |item|%>
    <tr>
      <td><%= item.product_id %></td>
      <td><%= item.quantity %></td>
      <td><%= item.product.album_name %></td>
      <td><%= item.status %></td>
      <td><%= number_to_currency(item.product.price/100.0) %></td>
      <td><%= item.cart_id %></td>
      <td>
      <% if item.status == "paid" %>
        <%=  link_to "Ship Order", ship_order_path(item.cart_id) %>
      <% end %>
    </td>
    </tr>
  <% end %>
  <tr>
    <td>
      Total Revenue:
    </td>
    <td>
      <%= number_to_currency(@revenue/100.0) %>
    </td>
  </tr>
</table>
</div>
