<!-- On the order fulfillment page:
Total Revenue
Total Revenue by status
Total number of orders by status
Filter orders displayed by status
Link to each individual order
A list of orders including at least one of my products:
Each order item sold by me with a quantity and line-item subtotal
A link to the item description page
DateTime the order was placed
Link to transition the order item to marked as shipped
The current status of the order ("pending", "paid", "complete", "cancelled") -->

<p>
  view all
</p>
<p>
  view all pending
</p>
<p>
  view all ordered
</p>

<table>
  <tr>
    <th>
      Item ID
    </th>
    <th>
      Quantity Ordered
    </th>
    <th>
      Item Name
    </th>
    <th>
      Item Status
    </th>
    <th>
      Item price
    </th>
    <th>
      Time Placed
    </th>
    <th>
      Order ID
    </th>
  </tr>

<% @ordered_items.each do |item|%>
  <tr>
    <td><%= item.product_id %></td>
    <td><%= item.quantity %></td>
    <td><%= item.product.album_name %></td>
    <td><%= item.status %></td>
    <td><%= number_to_currency(item.product.price/100.0) %></td>
    <td><%= item.updated_at.strftime("%A, %d %b %Y %l:%M %p") %></td>
    <td><%= item.cart.id %></td>
  </tr>
<% end %>
<tr>
  <td>
    Total:
  </td>
  <td>
    <%= number_to_currency(@revenue/100.0) %>
  </td>
</tr>
</table>
