
<h2>Your Orders</h2>
<div class="horizontal_nav">
  <p>
    <%= link_to "View All", "/orders" %>
  </p>
  <p>
    <%= link_to "View Pending", "/orders/?status=pending"%>
  </p>
  <p>
    <%= link_to "View Paid", "/orders/?status=paid" %>
  </p>
  <p>
    <%= link_to "View Cancelled", "/orders/?status=cancelled" %>
  </p>
  <p>
    <%= link_to "View Shipped", "/orders/?status=shipped" %>
  </p>
</div>

<table>
  <tr>
    <th>
      Item ID
    </th>
    <th>
      Quantity<br>Ordered
    </th>
    <th>
      Item Name
    </th>
    <th>
      Item Status
    </th>
    <th>
      Item price
    </th>
    <th>
      Order ID
    </th>
    <th>
      Ship Order
    </th>
  </tr>
  <% @ordered_items.each do |item|%>
    <tr>
      <td><%= item.product_id %></td>
      <td><%= item.quantity %></td>
      <td><%= item.product.album_name %></td>
      <td><%= item.status %></td>
      <td><%= number_to_currency(item.product.price/100.0) %></td>
      <td><%= item.cart_id %></td>
      <% if item.status == "paid" %><td>
        <%=  link_to "Ship Order", ship_order_path(item.cart_id) %></td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <td>
      Total:
    </td>
    <td>
      <%= number_to_currency(@revenue/100.0) %>
    </td>
  </tr>
</table>
