
<h2>Final Checkout</h2>



<table class="cart">

  <tr>
    <th>
      Product Name
    </th>
    <th>
      Price
    </th>
    <th>
      Quantity Ordered
    </th>


    <th>
      Total Price
    </th>
  </tr>
  <% @ordered_items.each do |item| %>
  <% if item.status == "pending" %>
  <tr>
    <td>
      <%= "#{Product.find(item.product_id).album_name}" %>
    </td>
    <td>
      <%= "#{number_to_currency(Product.find(item.product_id).price/100.0)}" %>
    </td>
    <td>
      <%= "#{item.quantity}" %>
    </td>

    <td>
      <%= "#{number_to_currency(Product.find(item.product_id).price * item.quantity/100.0)}" %>
    </td>
  </tr>
  <% end %>


  <% end%>
  <hr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><%= "#{number_to_currency(@cart_total/100.0)}" %></td>
  </tr>
</table>



<div id="stock_remarks">
  *Your order will automatically be adjusted so as not to exceed the
  available stock.
</div>
