<!-- Customer Input for Payment -->


<div class="error">
  <ul>
    <% @cart.errors.each do |column,message|  %>
    <li><strong><%= column.capitalize %></strong><%= message %></li>
    <% end %>
  </ul>
</div>

<div id="customer_information_form">


<%= form_for @cart do |f| %>
<%= f.hidden_field :cart_id, value: session[:cart_id] %>

<ul>

<li><%= f.label "name" , value = "Name as it appears on your Credit Card"%>
<%= f.text_field "name" %>
</li>
<li><%= f.label "email", value = "Your Email" %>
<%= f.email_field "email" %></li>
<li>
  <%= f.label "address", value = "Street Address" %>
  <%= f.text_field "address" %>
</li>
<li>
    <%= f.label "city", value = "City" %>
    <%= f.text_field "city" %>

    <%= f.label "state", value = "State" %>
    <%= f.text_field "state" %>

    <%= f.label "zip", value = "Zip Code" %>
    <%= f.text_field "zip"%>
</li>
<li>
    <%= f.label "credit_num", value = "Credit Card Number" %>
    <%= f.text_field "credit_num" %>
</li>

<li>
    <%= f.label "credit_cvv", value = "Credit CVV" %>
    <%= f.text_field "credit_cvv" %>

    <%= f.label "month", value = "Expiration Month" %>
    <%= f.text_field "month" %>

    <%= f.label "year", value = "Expiration Year" %>
    <%= f.text_field "year" %>
</li>

<li>  <%= f.submit value="Submit Information"%></li>

  <% end %>
  </ul>

</div>
