<div class="center-text">
  <h1>Check Out</h1>
</div>




<%= render "checkout_cart" %><br>



<div class="center-text">
  <div class="basic-button">
      <%= link_to "Return To Shopping", "/sessions/new" %><br>
  </div>
</div>


<br>

<div class="error">
  <ul>
    <% @cart.errors.each do |column,message|  %>
    <li><strong><%= column.capitalize %></strong><%= message %></li>
    <% end %>
  </ul>
</div>
<%= render "customer_information" %><br>
