<div class="center-text">
  <h1><strong>Shopping Cart</strong></h1>
</div>




<table class="cart">

  <tr>
    <th>
      Product Name
    </th>
    <th>
      Price
    </th>
    <th>
      Quantity Ordered
    </th>
    <th>
      Delete Item
    </th>
    <th>
      Number In Stock*
    </th>
    <th>
      Total Price
    </th>
  </tr>
  <% @ordered_items.each do |item| %>
  <% if item.status == "pending" %>
  <tr>
    <td>
      <%= "#{Product.find(item.product_id).album_name}" %>
    </td>
    <td>
      <%= "#{number_to_currency(Product.find(item.product_id).price/100.0)}" %>
    </td>
    <td>
  <%= form_for item do |f| %>
    <%= f.hidden_field :item_id, value: item.id %>
    <strong><%= f.number_field :quantity, style: "width:50px; text-align: center"%></strong>
    <%= submit_tag "Update Quantity", class: "sm-button" %>
  <% end %>
    </td>
    <td>
      <%= link_to "Delete", delete_ordered_item_path(item.id), class: "basic-del-button sm-button", method: :delete %>
    </td>
    <td>
      <%= "#{Product.find(item.product_id).stock}" %>
    </td>

    <td>
      <%= "#{number_to_currency(Product.find(item.product_id).price * item.quantity/100.0)}" %>
    </td>
  </tr>
  <% end %>


  <% end%>
  <hr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Cart Total:</td>
    <td><strong><%= "#{number_to_currency(@cart_total/100.0)}" %></strong></td>
  </tr>
</table>
<div id="stock_remarks">
  *Your order will automatically be adjusted so as not to exceed the
  available stock.
</div>

<div id="cart-buttons">
  <ul>

  <li>
  <div>
    <%= link_to "Check Out", "/check_out",class: "basic-button"%>
  </div></li>
  <li>
  <div class="inline-button">
    <%= link_to "Cancel Order", empty_cart_path,  method: :delete ,class: "basic-del-button"%>
  </div></li>
</ul>
</div>
