<!-- in sort thing, do a link_to to the edit page and carry the product id as a param -->

<form action="<%=update_product_path(@product)%>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  
  <label for="artist">Artist:</label>
  <input type="text" name="product[artist]" value="<%=@product.artist%>"/>
  
  <label for="album_name">Album Name:</label>
  <input type="text" name="product[album_name]"value="<%=@product.album_name%>"/>

  <label for="image">Image URL:</label>
  <input type="text" name="product[image]" value="<%=@product.image%>"/>

  <label for="stock">Stock:</label>
  <input type="integer" name="product[stock]" value="<%=@product.stock%>"/>

  <label for="Price"> Price:</label>
  <input type="integer" name="product[price]" value="<%=@product.price%>"/>
  <!-- need to show price in dollars -->
<br>
<input type="submit" value="Submit Changes" class="submit"%> 
<form>

