<div class="center-text">

<div class="form-style">

<%= form_for @product do |product_form| %>
<h2>Edit Product Details</h2>
<ul>
  <li>Album Name <%= product_form.text_field :album_name, class: 'form-control',
        style: "width:500px", autofocus: true %></li>
  <li>Artist Name <%= product_form.text_field :artist, class: 'form-control',
        style: "width:500px", autofocus: true %></li>
  <li>Album Photo Url <%= product_form.text_field :image, class: 'form-control',
        style: "width:500px", autofocus: true %></li>
  <li>Description: <%= product_form.text_field :description, class: 'form-control',
        style: "width: 500px; height: 100px; vertical-align: top; ;",  autofocus: true %> </li>
  <li>Stock: <%= product_form.number_field :stock %></li>
  <li>Price: <%= product_form.number_field :price %></li>
  <li>Active: <%= product_form.check_box :active %></li>
  <li><div class="basic-button">
  <%= product_form.submit %></div></li>
<% end %>
</ul>
