<div class="center-text">

<div class="form-style">

<%= form_for @product do |product_form| %>
<h2>Edit Product Details</h2>
<ul>

  <li>Artist: <%= product_form.text_field :artist %></li>
  <li>Album: <%= product_form.text_field :album_name %></li>
  <li>Image URL: <%= product_form.text_field :image %></li>
  <li>Stock: <%= product_form.number_field :stock %></li>
  <li>Price: <%= product_form.number_field :price %></li>
  <li>Active: <%= product_form.check_box :active %></li>
  <li><div class="basic-button">
  <%= product_form.submit %></div></li>
<% end %>
</ul>
