<div class="center-text">

<div class="form-style">

<%= form_for @product do |product_form| %>
<h2>Edit Product Details</h2>
<ul>
  <li>Album Name <%= product_form.text_field :album_name, class: 'form-control',
        style: "width:500px", autofocus: true %></li>
  <li>Artist Name <%= product_form.text_field :artist, class: 'form-control',
        style: "width:500px", autofocus: true %></li>
  <li>Album Photo Url <%= product_form.text_field :image, class: 'form-control',
        style: "width:500px", autofocus: true %></li>
  <li>
  Description<br>
  <div class="edit-image">
    <img src="<%= @product.image %>" width="250px" height="250px" alt="Album Cover">
   <%= product_form.text_area :description, class: 'form-control',
        style: "width:400px; height:250px", autofocus: true %></div></li>

  <li>Stock  <%= product_form.number_field :stock %></li>
  <li>Price  <%= product_form.text_field :price, :value => number_to_currency(@product.price/100.0) %></li>
  <li>Active  <%= product_form.check_box :active %></li>
  <li><div class="basic-button">
  <%= product_form.submit %></div></li>
<% end %>
</ul>
