
<div class="scroll_products">

<% @products.each do |product|%>



<ul>
  <img id = "product_avatar" src=<%= product.image %>  alt="product photo" height = 100px width = 100px/>

  <li><strong><%= product.album_name %></strong></li>
  <li><%= product.description %></li>
  <li><%= "#{number_to_currency(product.price/100.0)}" %></li>
  <li><%= "Sold by: #{Merchant.find(product.merchant_id).name}" %></li>
  <li><%= "Number in stock: #{product.stock}" %></li>
  <li><% product.categories.each do |category|%>
    <%= category.name %>
    <% end %></li>
</ul>
<% end %>
</div>
