<div class="category_sidebar">
  <%= render "/sessions/category_list" %>
</div>

<img src="<%= @product.image %>" alt="<%= @product.album_name %>" />

<p>
  Album name: <%= @product.album_name %>
</p>

<p>
  Artist: <%= @product.artist %>
</p>

<p>
  Price: <%= @product.price %>
</p>

<p>
  Description: <%= @product.description %>
</p>


  Categories:
<% @product.categories.each do |category|%>
  <p><%= category.name %></p>
<% end  %>

<% @ratings.each do |rating| %>
  <p>Stars: <%= "*" *rating.stars %></p>
  <p>Comment: <%= rating.comments %></p>
<% end  %>

<% if @product.merchant_id != session[:merchant_id ] %>
  <%= link_to "Review product", new_rating_path(@product.id) %>
<% end %>
<p>
  Add to cart
</p>
