
<div class = "product_page">
  
  <div class = "product_page_image">
    <img src="<%= @product.image %>" alt="<%= @product.album_name %>" />
    <div class = "product_details">
    <ul>
      <li><%= @product.artist %></li>
      <li class="small"><%= @product.album_name %></li>
      <div class = "line"></div>
      <li class = "small itemdesc"><%= @product.description %></li>
      <li class = "small ">Categories:&nbsp; 
        <% @product.categories.each do |category|%>
          <%= category.name %>.&nbsp;
        <% end  %></li>  
      <div class = "line"></div>
      <li><%= number_to_currency(@product.price/100.0) %> </li>
      <li class = "button" id = "product_button"><%= button_to "Order Item","/carts/add_item?product_id=#{params[:id]}", method: :post %></li>
    </ul>
    </div>
  </div>
</div>
  
  <ul class = "product_ratings">
    <li><% if @product.merchant_id != session[:merchant_id ] %></li>
    <%= link_to "Review product", new_rating_path(@product.id) %>
  <% end %>
    <li><% @ratings.each do |rating| %>
    <li>Stars:&nbsp;<%= "*" *rating.stars %> &nbsp; Comments: &nbsp;<%= rating.comments %></li>
  <% end  %></li>
  </ul>
</div>

