<!DOCTYPE html>
<html>
<head>
  <title>UTunes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav id="main_nav_bar">

    <ul>
      <li><%= link_to "Product Page", "/products/index" %></li>
      <li><%= link_to "Merchant Page", "/merchants/index" %></li>
      <li><%= link_to "Products by Category", "/categories_products/index" %></li>
      <li><%= link_to "Dashboard", "/dashboard" %></li>
    </ul>
    <ul>
      <li><%= link_to "Sign In Page", "/sessions/new"%></li>
      <li><%= link_to "Sign Out", "/sessions", method: :delete %></li>
    </ul>

  </nav>

<%= yield %>

</body>
</html>
